<div class="albums_labels_edit main_content">

<div class="title">
  <%= "Editing album label '#{@label}'..." %>
  <%= link_to 'Back', @label %>
</div>

<%= render partial: 'albums/tab_navi_for_artists',
            locals: {tab_navi: @tab_navi_for_artists, path_name: 'edit_albums_label_path'} %>

<% albums_labeled = @label.albums -%>

<% @tab_navi_for_artists.current_artists.sort.each do |artist| -%>
  <% albums = artist.albums.reject(&:subsequent?).sort
     next if albums.empty? -%>

  <div id="label_id" class="main_table" data-label-id="<%= @label.id %>">
    <% unless artist.compilation? -%>
      <span class="caption"><%= artist %></span>
    <% end -%>

    <table class="main">
      <tbody>
        <% albums.each do |album| -%>
          <tr>
            <td>
              <%= check_box_tag "toggle_label_#{album.id}", true, albums_labeled.include?(album),
                                class: 'toggle_label', data: {album_id: album.id} %>
            </td>
            <td>
              <%= label_tag "toggle_label_#{album.id}", album.base_name %>
            </td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
<% end -%>

<div class="action">
  <%= link_to 'Back', @label %>
</div>

</div>
