<div class="albums_album">

<div class="main_table">
  <span class="caption"><%= album %></span>
  <table class="main">
    <tbody>
      <% album.tracks.order(:track_number).each do |track| -%>
        <tr>
          <td class="numeric"><%= track.track_number %></td>
          <td><%= track.name %></td>
          <td><%= rating_display(track) %></td>
          <% if album.compilation? -%>
            <td><%= track.artist %></td>
          <% end -%>
          <td class="numeric"><%= time_display(track.total_time) %></td>
        </tr>
      <% end -%>

      <% if album.tracks.size >= 2 -%>
        <tr>
          <td />
          <% if album.compilation? -%>
            <td />
          <% end -%>
          <td class="numeric">total</td>
          <td class="numeric"><%= time_display(album.total_time) %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>

</div>
