<div class="albums_albums">

<%
  shows_artist   = false unless defined?(shows_artist)
  uses_base_name = false unless defined?(uses_base_name)
-%>

<div class="main_table">
  <span class="caption"><%= caption %></span>
  <table class="main">
    <tbody>
      <% albums.each.with_index(1) do |album, index| -%>
        <tr>
          <td class="wide_link numeric"><%= link_to index, album %></td>
          <td><%= uses_base_name ? album.base_name : album.name %></td>
          <% if shows_artist -%>
            <td><%= album.artist %></td>
          <% end -%>
          <td class="numeric"><%= album.year %></td>
          <td class="numeric"><%= time_display(album.total_time) %></td>
          <td class="num_tracks_rated"><%= album.num_tracks_rated %></td>
          <td class="num_tracks"><%= album.tracks.size %></td>
          <td><%= labels_display(album) %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>

</div>
